# Notebook exploration

Ce notebook a pour objectif d'explorer de mani√®re superficielle les diff√©rents datasets.

### 1. Importer les diff√©rents modules

Cette premi√®re √©tape consiste √† charger les librairies n√©cessaires afin d'explorer 
les datasets.

In [1]:
# Cellule 1 : Import et configuration du chemin
import sys
import os
from pathlib import Path

# On remonte d'un cran pour que le notebook voit la racine du projet
root_path = Path(os.getcwd()).parent
if str(root_path) not in sys.path:
    sys.path.append(str(root_path))

import duckdb
import pandas as pd
from sirene_pipeline.config import settings

# V√©rification que la config est bien charg√©e
print(f"Environnement actuel : {settings.current_env}")
print(f"Dossier Bronze : {settings.bronze_dir}")

Environnement actuel : production
Dossier Bronze : data/bronze

### 2. Inspection g√©n√©rale

La cellule ci-dessous affiche les diff√©rentes colonnes des datasets. L'objectif est 
de s√©lectionner celle que l'on va conserver.

In [3]:
con = duckdb.connect()

# On boucle sur les datasets d√©finis dans ta config pour voir les colonnes de chacun
for dataset_name, config in settings.datasets.items():
    parquet_path = Path(root_path) / "data" / "bronze" / config.filename
    
    print(f"\n--- COLUMNS FOR: {dataset_name} ({config.filename}) ---")
    
    # La commande DESCRIBE donne le nom, le type et si la colonne peut √™tre nulle
    columns_info = con.execute(f"DESCRIBE SELECT * FROM read_parquet('{parquet_path}')").df()
    
    # On affiche tout proprement
    with pd.option_context('display.max_rows', None):
        display(columns_info[['column_name', 'column_type']])

--- COLUMNS FOR: etablissements (stock_etablissement.parquet) ---

                                       column_name column_type
0                                            siren     VARCHAR
1                                              nic      BIGINT
2                                            siret     VARCHAR
3                     statutDiffusionEtablissement     VARCHAR
4                        dateCreationEtablissement        DATE
5                    trancheEffectifsEtablissement     VARCHAR
6                      anneeEffectifsEtablissement      BIGINT
7   activitePrincipaleRegistreMetiersEtablissement     VARCHAR
8               dateDernierTraitementEtablissement   TIMESTAMP
9                               etablissementSiege     BOOLEAN
10                     nombrePeriodesEtablissement      BIGINT
11                  complementAdresseEtablissement     VARCHAR
12                         numeroVoieEtablissement     VARCHAR
13                   indiceRepetitionEtablissement     VARCHAR
14                  dernierNumeroVoieEtablissement     VARCHAR
15  indiceRepetitionDernierNumeroVoieEtablissement     VARCHAR
16                           typeVoieEtablissement     VARCHAR
17                        libelleVoieEtablissement     VARCHAR
18                         codePostalEtablissement     VARCHAR
19                     libelleCommuneEtablissement     VARCHAR
20             libelleCommuneEtrangerEtablissement     VARCHAR
21               distributionSpecialeEtablissement     VARCHAR
22                        codeCommuneEtablissement     VARCHAR
23                          codeCedexEtablissement     VARCHAR
24                       libelleCedexEtablissement     VARCHAR
25                   codePaysEtrangerEtablissement     VARCHAR
26                libellePaysEtrangerEtablissement     VARCHAR
27                 identifiantAdresseEtablissement     VARCHAR
28          coordonneeLambertAbscisseEtablissement     VARCHAR
29          coordonneeLambertOrdonneeEtablissement     VARCHAR
30                 complementAdresse2Etablissement     VARCHAR
31                        numeroVoie2Etablissement     VARCHAR
32                  indiceRepetition2Etablissement     VARCHAR
33                          typeVoie2Etablissement     VARCHAR
34                       libelleVoie2Etablissement     VARCHAR
35                        codePostal2Etablissement     VARCHAR
36                    libelleCommune2Etablissement     VARCHAR
37            libelleCommuneEtranger2Etablissement     VARCHAR
38              distributionSpeciale2Etablissement     VARCHAR
39                       codeCommune2Etablissement     VARCHAR
40                         codeCedex2Etablissement     VARCHAR
41                      libelleCedex2Etablissement     VARCHAR
42                  codePaysEtranger2Etablissement     VARCHAR
43               libellePaysEtranger2Etablissement     VARCHAR
44                                       dateDebut        DATE
45                  etatAdministratifEtablissement     VARCHAR
46                          enseigne1Etablissement     VARCHAR
47                          enseigne2Etablissement     VARCHAR
48                          enseigne3Etablissement     VARCHAR
49                denominationUsuelleEtablissement     VARCHAR
50                 activitePrincipaleEtablissement     VARCHAR
51     nomenclatureActivitePrincipaleEtablissement     VARCHAR
52                 caractereEmployeurEtablissement     VARCHAR
53            activitePrincipaleNAF25Etablissement     VARCHAR
54                                     ingested_at     VARCHAR

--- COLUMNS FOR: unites_legales (stock_unite_legale.parquet) ---

                                  column_name column_type
0                                       siren     VARCHAR
1                  statutDiffusionUniteLegale     VARCHAR
2                      unitePurgeeUniteLegale     BOOLEAN
3                     dateCreationUniteLegale        DATE
4                            sigleUniteLegale     VARCHAR
5                             sexeUniteLegale     VARCHAR
6                          prenom1UniteLegale     VARCHAR
7                          prenom2UniteLegale     VARCHAR
8                          prenom3UniteLegale     VARCHAR
9                          prenom4UniteLegale     VARCHAR
10                     prenomUsuelUniteLegale     VARCHAR
11                      pseudonymeUniteLegale     VARCHAR
12          identifiantAssociationUniteLegale     VARCHAR
13                trancheEffectifsUniteLegale     VARCHAR
14                  anneeEffectifsUniteLegale      BIGINT
15           dateDernierTraitementUniteLegale   TIMESTAMP
16                  nombrePeriodesUniteLegale      BIGINT
17                        categorieEntreprise     VARCHAR
18                   anneeCategorieEntreprise      BIGINT
19                                  dateDebut        DATE
20               etatAdministratifUniteLegale     VARCHAR
21                             nomUniteLegale     VARCHAR
22                        nomUsageUniteLegale     VARCHAR
23                    denominationUniteLegale     VARCHAR
24            denominationUsuelle1UniteLegale     VARCHAR
25            denominationUsuelle2UniteLegale     VARCHAR
26            denominationUsuelle3UniteLegale     VARCHAR
27              categorieJuridiqueUniteLegale      BIGINT
28              activitePrincipaleUniteLegale     VARCHAR
29  nomenclatureActivitePrincipaleUniteLegale     VARCHAR
30                        nicSiegeUniteLegale      BIGINT
31        economieSocialeSolidaireUniteLegale     VARCHAR
32                  societeMissionUniteLegale     VARCHAR
33              caractereEmployeurUniteLegale     VARCHAR
34         activitePrincipaleNAF25UniteLegale     VARCHAR
35                                ingested_at     VARCHAR

**VERDICT:** Apr√®s exploration du dataset Bronze, nous avons identifi√© les colonnes cl√©s pour l'analyse m√©tier et la visualisation. Ces colonnes seront extraites et nettoy√©es lors du job **Silver**.

---

#### üèõÔ∏è Etablissements (StockEtablissement)
*Focus : Localisation, activit√© locale et identification des points de vente.*

> **Selected Columns:**
> ```python
> [
>     "siret", "siren", "etatAdministratifEtablissement", 
>     "dateCreationEtablissement", "codePostalEtablissement", 
>     "libelleCommuneEtablissement", "activitePrincipaleEtablissement", 
>     "trancheEffectifsEtablissement", "etablissementSiege", 
>     "enseigne1Etablissement"
> ]
> ```

---

#### ‚öñÔ∏è Unit√©s L√©gales (StockUniteLegale)
*Focus : Identit√© juridique, taille de l'entreprise et sant√© globale.*

> **Selected Columns:**
> ```python
> [
>     "siren", "denominationUniteLegale", "nomUniteLegale", 
>     "prenom1UniteLegale", "categorieEntreprise", 
>     "categorieJuridiqueUniteLegale", "activitePrincipaleUniteLegale", 
>     "etatAdministratifUniteLegale", "dateCreationUniteLegale", 
>     "economieSocialeSolidaireUniteLegale"
> ]
> ```

---

##### üíæ Mise √† jour du `settings.toml`
Les colonnes ont √©t√© report√©es dans la configuration sous les sections `[silver.etablissements]` et `[silver.unites_legales]`.